.navbar {
    background-color: white;
    box-shadow: darkgrey 0 1px 1px 0px;
    min-width: 500px;
}

.navbar-nav {
    flex-direction: row;
}

#navbarDropdown {
    height: 42px;

    img {
        width: 32px;
        margin-top: -2px;
        border: solid 1px #c7c7c7;
    }

    
}

.dropdown-toggle::after {
    display: none;
}

.tweet {
    padding: 5px 15px;
    font-weight: bold;
}

.nav-link {
    font-weight: bold;
}

.search {
    background: url('../../assets/search.png') no-repeat scroll 7px 7px;
    padding-right: 30px;
    padding-left: 15px;
    background-size: 15px;
    background-position: right 10px center;
}

::placeholder {
    color: rgb(153, 153, 153);
    font-size: 14px;
}

.search:focus::placeholder {
    color: rgba(207, 207, 207, 0.623);
}

.search:focus{
    background-image: none;
    padding-right: 15px;
}
