.navbar-space {
    margin-top: 72px;
}

.dp {
    width: 32px;
    transform: translateY(-40px);
    width: 75px;
}

.dp-1 {
    width: 37px;
    border: solid 1px #c7c7c7;
}

.form-btn {
    display: block;
    transition: .3s ease;
}

.whine {
    background: url('../assets/mad.png') no-repeat scroll 7px 7px;
    padding-right: 30px;
    padding-left: 15px;
    background-size: 18px;
    background-position: right 10px top 10px;
    background-color: white;
    border: 1px solid #b7e2ff;
    transition: all .3s ease;
    height: 4.5em;
}

::placeholder {
    color: #60bfff;
    font-size: 14px;
}

.whine:focus::placeholder {
    color: rgba(207, 207, 207, 0.623);
}

// .whine:focus + .form-btn {
//     display: block;
// }