<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>

<div class="container navbar-space">
  <div class="row mt-2">
    <div class="col-md-3">

      <div class="card">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <router-outlet></router-outlet>

    </div>

    <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

  </div>
</div>  
