/* You can add global styles to this file, and also import other style files */

body {
    background-color: #e6ecf0;
}

.ml-6 {
    margin-left: 5.6em;
}

hr {
    margin: 0px 0px !important;
}

.bg-orange {
    background-color: rgb(255, 178, 78);
}

.bg-lightorange {
    background-color: rgba(255, 218, 149, 0.637);
}

.bg-lightblue {
    background-color: rgba(100, 185, 255, 0.17);
}